In [38]:
import yfinance as yf
import datetime
import pandas as pd
import numpy as np

In [39]:
data = yf.download("AAPL", interval="5m", multi_level_index=False)
data

[*********************100%***********************]  1 of 1 completed

,Close,High,Low,Open,Volume
Datetime,,,,,
2025-03-17 13:30:00+00:00,213.559998,213.808899,212.169998,213.360001,3024195
2025-03-17 13:35:00+00:00,214.595001,214.869995,213.400696,213.434998,1080904
2025-03-17 13:40:00+00:00,214.330002,214.970001,214.169998,214.610001,841063
2025-03-17 13:45:00+00:00,213.250107,214.410004,213.160095,214.324997,727681
2025-03-17 13:50:00+00:00,213.923996,214.033493,212.949997,213.289993,582528
...,...,...,...,...,...
2025-05-14 19:00:00+00:00,211.229996,211.419998,211.220001,211.399994,260847
2025-05-14 19:05:00+00:00,211.139999,211.279999,211.000000,211.220001,376535
2025-05-14 19:10:00+00:00,211.410706,211.520004,211.130005,211.130005,308423
2025-05-14 19:15:00+00:00,211.410004,211.634995,211.360001,211.412506,291367
2025-05-14 19:20:00+00:00,211.320007,211.320007,211.320007,211.320007,0

In [41]:
stock_tickers = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA']
start_date = datetime.datetime.today() - datetime.timedelta(days=45)
end_date = datetime.datetime.today()

cl_price = pd.DataFrame()

for ticker in stock_tickers:
    data = yf.download(ticker, start=start_date, end=end_date, interval="5m", multi_level_index=False)
    cl_price[ticker] = data['Close']
cl_price = cl_price.dropna()
cl_price = cl_price.reset_index()
cl_price['Datetime'] = pd.to_datetime(cl_price['Datetime'])

ohlcv = {}
for ticker in stock_tickers:
    data = yf.download(ticker, start=start_date, end=end_date, interval="5m", multi_level_index=False)
    ohlcv[ticker] = data

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [42]:

cl_price.tail()

,Datetime,AAPL,MSFT,GOOGL,AMZN,TSLA
2469,2025-05-14 18:00:00+00:00,211.604706,451.410004,165.184998,209.990005,347.709900
2470,2025-05-14 18:05:00+00:00,211.789993,451.500000,164.975006,209.884995,348.520996
2471,2025-05-14 18:10:00+00:00,211.710007,451.524994,165.529999,210.016205,348.940002
2472,2025-05-14 18:15:00+00:00,211.899994,451.645203,165.619995,210.335007,348.629395
2473,2025-05-14 18:20:00+00:00,211.699997,451.500000,165.529999,210.339996,348.347198

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [44]:
ohlcv

{'AAPL':                                 Close        High         Low        Open  \
 Datetime
 2025-03-31 13:30:00+00:00  217.127502  218.500000  216.800003  217.220001
 2025-03-31 13:35:00+00:00  216.759995  217.600006  216.240005  217.100006
 2025-03-31 13:40:00+00:00  217.979996  218.335205  216.750000  216.789993
 2025-03-31 13:45:00+00:00  217.922501  218.199997  216.874695  217.990005
 2025-03-31 13:50:00+00:00  217.509796  218.059998  217.309998  217.899994
 ...                               ...         ...         ...         ...
 2025-05-14 18:00:00+00:00  211.604706  211.725006  211.410004  211.699997
 2025-05-14 18:05:00+00:00  211.789993  211.919998  211.580093  211.591705
 2025-05-14 18:10:00+00:00  211.710007  211.830002  211.559998  211.789993
 2025-05-14 18:15:00+00:00  211.899994  211.945206  211.669998  211.690002
 2025-05-14 18:20:00+00:00  211.699997  211.919907  211.699997  211.910004

                             Volume
 Datetime
 2025-03-31 13:30:00+00:00  4547405
 2025-03-31 13:35:00+00:00  1587596
 2025-03-31 13:40:00+00:00  1211055
 2025-03-31 13:45:00+00:00  1250417
 2025-03-31 13:50:00+00:00   647888
 ...                            ...
 2025-05-14 18:00:00+00:00   193598
 2025-05-14 18:05:00+00:00   268865
 2025-05-14 18:10:00+00:00   218292
 2025-05-14 18:15:00+00:00   239677
 2025-05-14 18:20:00+00:00    76441

 [2475 rows x 5 columns],
 'MSFT':                                 Close        High         Low        Open  \
 Datetime
 2025-03-31 13:30:00+00:00  368.690002  372.751801  368.290009  372.535004
 2025-03-31 13:35:00+00:00  370.084991  370.260010  368.649994  368.739990
 2025-03-31 13:40:00+00:00  369.763214  370.309998  369.410004  370.084991
 2025-03-31 13:45:00+00:00  369.000000  369.880005  368.639313  369.635010
 2025-03-31 13:50:00+00:00  369.619995  369.799988  368.470001  369.005005
 ...                               ...         ...         ...         ...
 2025-05-14 18:00:00+00:00  451.410004  451.424988  451.111786  451.299988
 2025-05-14 18:05:00+00:00  451.500000  451.765015  451.309998  451.400696
 2025-05-14 18:10:00+00:00  451.524994  451.589996  451.309998  451.519989
 2025-05-14 18:15:00+00:00  451.645203  451.709991  451.399994  451.519989
 2025-05-14 18:20:00+00:00  451.500000  451.584991  451.459412  451.584991

                             Volume
 Datetime
 2025-03-31 13:30:00+00:00  2410744
 2025-03-31 13:35:00+00:00   574734
 2025-03-31 13:40:00+00:00   475275
 2025-03-31 13:45:00+00:00   457856
 2025-03-31 13:50:00+00:00   339243
 ...                            ...
 2025-05-14 18:00:00+00:00    59037
 2025-05-14 18:05:00+00:00    89591
 2025-05-14 18:10:00+00:00    59573
 2025-05-14 18:15:00+00:00    87542
 2025-05-14 18:20:00+00:00    15006

 [2476 rows x 5 columns],
 'GOOGL':                                 Close        High         Low        Open  \
 Datetime
 2025-03-31 13:30:00+00:00  152.018707  153.839996  151.850006  153.070007
 2025-03-31 13:35:00+00:00  151.901001  152.690002  151.690002  152.024994
 2025-03-31 13:40:00+00:00  150.889999  151.929993  150.854996  151.910004
 2025-03-31 13:45:00+00:00  151.110001  151.330002  150.662003  150.875702
 2025-03-31 13:50:00+00:00  151.395004  151.399994  150.860001  151.080002
 ...                               ...         ...         ...         ...
 2025-05-14 18:00:00+00:00  165.184998  165.242004  165.130005  165.149994
 2025-05-14 18:05:00+00:00  164.975006  165.279999  164.955002  165.179993
 2025-05-14 18:10:00+00:00  165.529999  165.539993  164.955002  164.990005
 2025-05-14 18:15:00+00:00  165.619995  165.755005  165.490005  165.520004
 2025-05-14 18:20:00+00:00  165.529999  165.630005  165.479996  165.615005

                             Volume
 Datetime
 2025-03-31 13:30:00+00:00  4298948
 2025-03-31 13:35:00+00:00  1259982
 2025-03-31 13:40:00+00:00  1090965
 2025-03-31 13:45:00+00:00   804397
 2025-03-31 13:50:00+00:00   735815
 ...                            ...
 2025-05-14 18:00:00+00:00   330899
 2025-05-14 18:05:00+00:00   342927
 2025-05-14 18:10:00+00:00   268445
 2025-05-14 18:15:00+00:00   311696
 2025-05-14 18:20:00+00:00    50065

 [2476 rows x 5 columns],
 'AMZN':                                 Close        High         Low        Open  \
 Datetime
 2025-03-31 13:30:00+00:00  185.839600  188.250000  185.429993  188.020004
 2025-03-31 13:35:00+00:00  185.585007  186.460007  185.230804  185.804993
 2025-03-31 13:40:00+00:00  185.369995  186.080002  185.140106  185.649994
 2025-03-31 13:45:00+00:00  185.050003  185.701996  184.669998  185.350006
 2025-03-31 13:50:00+00:00  185.615005  185.929993  184.820007  185.009995
 ...                               ...         ...         ...         ...
 2025-05-14 18:00:00+00:00  209.990005  210.279999  209.869995  210.220001
 2025-05-14 18:05:00+00:00  209.884995  210.199905  209.880005  210.009995
 2025-05-14 18:10:00+00:00  210.016205  210.059998  209.820007  209.889999
 2025-05-14 18:15:00+00:00  210.335007  210.419998  210.020004  210.020004
 2025-05-14 18:20:00+00:00  210.339996  210.381195  210.233994  210.320007

                             Volume
 Datetime
 2025-03-31 13:30:00+00:00  6008727
 2025-03-31 13:35:00+00:00  1803019
 2025-03-31 13:40:00+00:00  1416542
 2025-03-31 13:45:00+00:00  1723879
 2025-03-31 13:50:00+00:00  1087534
 ...                            ...
 2025-05-14 18:00:00+00:00   285208
 2025-05-14 18:05:00+00:00   143906
 2025-05-14 18:10:00+00:00   161440
 2025-05-14 18:15:00+00:00   268111
 2025-05-14 18:20:00+00:00    38602

 [2475 rows x 5 columns],
 'TSLA':                                 Close        High         Low        Open  \
 Datetime
 2025-03-31 13:30:00+00:00  244.615005  250.878204  243.660004  249.169998
 2025-03-31 13:35:00+00:00  246.209900  247.483002  243.360107  244.662506
 2025-03-31 13:40:00+00:00  244.020004  246.919998  244.000107  246.195007
 2025-03-31 13:45:00+00:00  245.929993  246.779999  243.449997  244.009995
 2025-03-31 13:50:00+00:00  248.419998  249.289993  245.520996  245.850006
 ...                               ...         ...         ...         ...
 2025-05-14 18:00:00+00:00  347.709900  348.459991  347.420105  347.709991
 2025-05-14 18:05:00+00:00  348.520996  349.000000  347.660004  347.660004
 2025-05-14 18:10:00+00:00  348.940002  349.299988  347.750000  348.570007
 2025-05-14 18:15:00+00:00  348.629395  349.250000  348.299988  348.934998
 2025-05-14 18:20:00+00:00  348.347198  348.865387  348.299988  348.564087

                              Volume
 Datetime
 2025-03-31 13:30:00+00:00  13311768
 2025-03-31 13:35:00+00:00   3872519
 2025-03-31 13:40:00+00:00   2763461
 2025-03-31 13:45:00+00:00   2813243
 2025-03-31 13:50:00+00:00   2864766
 ...                             ...
 2025-05-14 18:00:00+00:00   1401487
 2025-05-14 18:05:00+00:00   1375334
 2025-05-14 18:10:00+00:00   1467553
 2025-05-14 18:15:00+00:00   1010269
 2025-05-14 18:20:00+00:00    227452

 [2477 rows x 5 columns]}