In [1]:
# Importing the required libraries
import yfinance as yf
import datetime
import pandas as pd

In [2]:
import sys
import os

# Add the project root directory to the Python path
sys.path.append(os.path.abspath(".."))

# Import the INTRADAY_DAYS_LIMIT from your config module
from utils.config import INTRADAY_DAYS_LIMIT

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

         Date        AAPL        MSFT       GOOGL        AMZN        TSLA
0  2025-02-13  241.213684  409.718475  185.925873  230.369995  355.940002
1  2025-02-14  244.279663  407.612671  185.016907  228.679993  355.839996
2  2025-02-18  244.149841  408.820282  183.558594  226.649994  354.109985
3  2025-02-19  244.549301  413.940002  185.056870  226.630005  360.559998
4  2025-02-20  245.508057  416.130005  184.347687  222.880005  354.399994
..        ...         ...         ...         ...         ...         ...
58 2025-05-08  197.231369  438.170013  154.279999  192.080002  284.820007
59 2025-05-09  198.270004  438.730011  152.750000  193.059998  298.260010
60 2025-05-12  210.789993  449.260010  158.460007  208.639999  318.380005
61 2025-05-13  212.929993  449.140015  159.529999  211.369995  334.070007
62 2025-05-14  212.330002  452.940002  165.369995  210.250000  347.679993

[63 rows x 6 columns]

In [ ]:
# Displaying the first few rows of the data
stock_tickers = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA']

### Code to get the stock data with 5m interval

In [17]:
# Define the start and end dates for the data
# Days is set to 59 to get the last 60 days of data (That's the maximum number of days for 5m interval)
start_date = datetime.datetime.today() - datetime.timedelta(days=INTRADAY_DAYS_LIMIT)
end_date = datetime.datetime.today()

ohlcv_5 = {}
for ticker in stock_tickers:
    data = yf.download(ticker, start=start_date, end=end_date, interval="5m", multi_level_index=False)
    # Filling missing values with the previous value
    data.bfill(inplace=True)
    ohlcv_5[ticker] = data
ohlcv_5

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

{'AAPL':                                 Close        High         Low        Open  \
 Datetime
 2025-03-17 13:30:00+00:00  213.559998  213.808899  212.169998  213.360001
 2025-03-17 13:35:00+00:00  214.595001  214.869995  213.400696  213.434998
 2025-03-17 13:40:00+00:00  214.330002  214.970001  214.169998  214.610001
 2025-03-17 13:45:00+00:00  213.250107  214.410004  213.160095  214.324997
 2025-03-17 13:50:00+00:00  213.923996  214.033493  212.949997  213.289993
 ...                               ...         ...         ...         ...
 2025-05-14 19:35:00+00:00  211.289993  211.500000  211.250000  211.300003
 2025-05-14 19:40:00+00:00  211.464600  211.589996  211.259995  211.279999
 2025-05-14 19:45:00+00:00  211.520004  211.539993  211.240005  211.469894
 2025-05-14 19:50:00+00:00  212.220001  212.490005  211.529999  211.529999
 2025-05-14 19:55:00+00:00  212.410004  212.600006  212.160004  212.199997

                             Volume
 Datetime
 2025-03-17 13:30:00+00:00  3024195
 2025-03-17 13:35:00+00:00  1080904
 2025-03-17 13:40:00+00:00   841063
 2025-03-17 13:45:00+00:00   727681
 2025-03-17 13:50:00+00:00   582528
 ...                            ...
 2025-05-14 19:35:00+00:00   355684
 2025-05-14 19:40:00+00:00   412417
 2025-05-14 19:45:00+00:00   333584
 2025-05-14 19:50:00+00:00  1481074
 2025-05-14 19:55:00+00:00  3388941

 [3274 rows x 5 columns],
 'MSFT':                                 Close        High         Low        Open  \
 Datetime
 2025-03-17 13:30:00+00:00  388.730011  388.829987  385.929993  386.769989
 2025-03-17 13:35:00+00:00  389.574402  389.670013  388.260010  388.730011
 2025-03-17 13:40:00+00:00  389.035004  389.929993  388.959991  389.589996
 2025-03-17 13:45:00+00:00  388.429993  389.299988  388.355011  389.089996
 2025-03-17 13:50:00+00:00  388.959991  389.219910  388.020111  388.415009
 ...                               ...         ...         ...         ...
 2025-05-14 19:35:00+00:00  451.540009  451.799988  451.465393  451.510010
 2025-05-14 19:40:00+00:00  451.769989  451.890015  451.399994  451.535004
 2025-05-14 19:45:00+00:00  451.750000  451.809998  451.500000  451.780792
 2025-05-14 19:50:00+00:00  452.660004  453.100006  451.809998  451.809998
 2025-05-14 19:55:00+00:00  452.899994  453.299988  452.619995  452.660004

                             Volume
 Datetime
 2025-03-17 13:30:00+00:00   826135
 2025-03-17 13:35:00+00:00   347415
 2025-03-17 13:40:00+00:00   286601
 2025-03-17 13:45:00+00:00   241477
 2025-03-17 13:50:00+00:00   176949
 ...                            ...
 2025-05-14 19:35:00+00:00   126685
 2025-05-14 19:40:00+00:00   140545
 2025-05-14 19:45:00+00:00   169045
 2025-05-14 19:50:00+00:00   551802
 2025-05-14 19:55:00+00:00  1827406

 [3275 rows x 5 columns],
 'GOOGL':                                 Close        High         Low        Open  \
 Datetime
 2025-03-17 13:30:00+00:00  165.669998  166.000000  165.119995  165.199997
 2025-03-17 13:35:00+00:00  166.139999  166.199997  165.550003  165.679993
 2025-03-17 13:40:00+00:00  165.869995  166.300003  165.714996  166.139999
 2025-03-17 13:45:00+00:00  165.250000  165.979996  165.179993  165.865005
 2025-03-17 13:50:00+00:00  165.820007  165.835007  165.070007  165.259995
 ...                               ...         ...         ...         ...
 2025-05-14 19:35:00+00:00  164.895004  165.095001  164.789993  164.940002
 2025-05-14 19:40:00+00:00  164.904999  165.054993  164.789993  164.889893
 2025-05-14 19:45:00+00:00  164.964996  164.998993  164.841293  164.899994
 2025-05-14 19:50:00+00:00  165.179993  165.419907  164.964996  164.964996
 2025-05-14 19:55:00+00:00  165.380005  165.479996  165.070007  165.179993

                             Volume
 Datetime
 2025-03-17 13:30:00+00:00  1355058
 2025-03-17 13:35:00+00:00   437366
 2025-03-17 13:40:00+00:00   333496
 2025-03-17 13:45:00+00:00   353618
 2025-03-17 13:50:00+00:00   284922
 ...                            ...
 2025-05-14 19:35:00+00:00   275507
 2025-05-14 19:40:00+00:00   311966
 2025-05-14 19:45:00+00:00   312078
 2025-05-14 19:50:00+00:00   777984
 2025-05-14 19:55:00+00:00  1912384

 [3275 rows x 5 columns],
 'AMZN':                                 Close        High         Low        Open  \
 Datetime
 2025-03-17 13:30:00+00:00  198.199997  198.960007  198.009995  198.770004
 2025-03-17 13:35:00+00:00  198.679993  198.809998  198.080002  198.250000
 2025-03-17 13:40:00+00:00  198.220001  198.740005  198.050003  198.679993
 2025-03-17 13:45:00+00:00  196.850006  198.330002  196.660004  198.190002
 2025-03-17 13:50:00+00:00  197.375000  197.470001  196.649994  196.850006
 ...                               ...         ...         ...         ...
 2025-05-14 19:35:00+00:00  209.449997  209.559998  209.279999  209.389999
 2025-05-14 19:40:00+00:00  209.500000  209.630005  209.307007  209.440002
 2025-05-14 19:45:00+00:00  209.410004  209.619995  209.250000  209.500000
 2025-05-14 19:50:00+00:00  210.160004  210.279999  208.850006  209.410004
 2025-05-14 19:55:00+00:00  210.240005  210.550003  209.889999  210.164993

                             Volume
 Datetime
 2025-03-17 13:30:00+00:00  2473458
 2025-03-17 13:35:00+00:00  1000755
 2025-03-17 13:40:00+00:00   849759
 2025-03-17 13:45:00+00:00  1027003
 2025-03-17 13:50:00+00:00   587199
 ...                            ...
 2025-05-14 19:35:00+00:00   460291
 2025-05-14 19:40:00+00:00   355313
 2025-05-14 19:45:00+00:00   487114
 2025-05-14 19:50:00+00:00   993545
 2025-05-14 19:55:00+00:00  3181415

 [3274 rows x 5 columns],
 'TSLA':                                 Close        High         Low        Open  \
 Datetime
 2025-03-17 13:30:00+00:00  239.639999  245.014999  239.300095  244.970001
 2025-03-17 13:35:00+00:00  243.649994  243.970001  238.865295  239.759995
 2025-03-17 13:40:00+00:00  243.240097  244.160004  242.380096  243.649994
 2025-03-17 13:45:00+00:00  241.899994  243.944397  241.560104  243.240005
 2025-03-17 13:50:00+00:00  243.934998  244.750000  241.361298  241.970001
 ...                               ...         ...         ...         ...
 2025-05-14 19:35:00+00:00  345.969086  348.179993  345.820007  347.850006
 2025-05-14 19:40:00+00:00  345.774994  346.450012  345.510010  345.919189
 2025-05-14 19:45:00+00:00  346.799011  346.922485  345.720001  345.769989
 2025-05-14 19:50:00+00:00  348.329987  348.769989  346.799988  346.910004
 2025-05-14 19:55:00+00:00  347.432709  348.649994  347.346405  348.339996

                             Volume
 Datetime
 2025-03-17 13:30:00+00:00  8509227
 2025-03-17 13:35:00+00:00  3943018
 2025-03-17 13:40:00+00:00  2190841
 2025-03-17 13:45:00+00:00  2026934
 2025-03-17 13:50:00+00:00  2136633
 ...                            ...
 2025-05-14 19:35:00+00:00  1374148
 2025-05-14 19:40:00+00:00  1393154
 2025-05-14 19:45:00+00:00  1239095
 2025-05-14 19:50:00+00:00  1833987
 2025-05-14 19:55:00+00:00  2816910

 [3276 rows x 5 columns]}

### Code to get the stock data with 1m interval

In [16]:
# Define the start and end dates for the data
# Days is set to 8 to get the last 9 days of data (That's the maximum number of days for 1m interval)
start_date = datetime.datetime.today() - datetime.timedelta(days=8)
end_date = datetime.datetime.today()

ohlcv_1 = {}
for ticker in stock_tickers:
    data = yf.download(ticker, start=start_date, end=end_date, interval="1m", multi_level_index=False)
    # Filling missing values with the previous value
    data.bfill(inplace=True)
    ohlcv_1[ticker] = data
ohlcv_1

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

{'AAPL':                                 Close        High         Low        Open  \
 Datetime
 2025-05-07 13:30:00+00:00  198.190002  199.294998  198.160004  198.190002
 2025-05-07 13:31:00+00:00  198.565002  198.970001  198.139999  198.169998
 2025-05-07 13:32:00+00:00  198.800003  199.009995  198.410004  198.580002
 2025-05-07 13:33:00+00:00  198.649994  199.139999  198.619995  198.830002
 2025-05-07 13:34:00+00:00  198.570007  198.785004  198.369995  198.619995
 ...                               ...         ...         ...         ...
 2025-05-14 19:55:00+00:00  212.479996  212.520004  212.199997  212.199997
 2025-05-14 19:56:00+00:00  212.380005  212.550003  212.320007  212.470001
 2025-05-14 19:57:00+00:00  212.580002  212.589905  212.330002  212.380005
 2025-05-14 19:58:00+00:00  212.330002  212.600006  212.324997  212.580002
 2025-05-14 19:59:00+00:00  212.410004  212.559998  212.160004  212.330002

                             Volume
 Datetime
 2025-05-07 13:30:00+00:00  2973472
 2025-05-07 13:31:00+00:00   240733
 2025-05-07 13:32:00+00:00   236166
 2025-05-07 13:33:00+00:00   141094
 2025-05-07 13:34:00+00:00   138881
 ...                            ...
 2025-05-14 19:55:00+00:00   421482
 2025-05-14 19:56:00+00:00   384489
 2025-05-14 19:57:00+00:00   448824
 2025-05-14 19:58:00+00:00   449946
 2025-05-14 19:59:00+00:00  1684200

 [2331 rows x 5 columns],
 'MSFT':                                 Close        High         Low        Open  \
 Datetime
 2025-05-07 13:30:00+00:00  432.679993  434.260010  432.640015  433.839996
 2025-05-07 13:31:00+00:00  433.565002  433.592010  432.584991  432.600006
 2025-05-07 13:32:00+00:00  433.230011  433.700012  433.019989  433.570007
 2025-05-07 13:33:00+00:00  433.049988  433.480011  433.049988  433.200012
 2025-05-07 13:34:00+00:00  434.269989  434.380005  432.975006  433.045013
 ...                               ...         ...         ...         ...
 2025-05-14 19:55:00+00:00  453.070007  453.299988  452.660004  452.660004
 2025-05-14 19:56:00+00:00  452.899994  453.100006  452.640015  453.040009
 2025-05-14 19:57:00+00:00  453.010010  453.059998  452.750000  452.890015
 2025-05-14 19:58:00+00:00  452.799988  453.070007  452.649994  453.000000
 2025-05-14 19:59:00+00:00  452.899994  453.100006  452.619995  452.829987

                            Volume
 Datetime
 2025-05-07 13:30:00+00:00  787460
 2025-05-07 13:31:00+00:00   81792
 2025-05-07 13:32:00+00:00   87755
 2025-05-07 13:33:00+00:00   59575
 2025-05-07 13:34:00+00:00   83041
 ...                           ...
 2025-05-14 19:55:00+00:00  262179
 2025-05-14 19:56:00+00:00  203089
 2025-05-14 19:57:00+00:00  278208
 2025-05-14 19:58:00+00:00  298041
 2025-05-14 19:59:00+00:00  785889

 [2333 rows x 5 columns],
 'GOOGL':                                 Close        High         Low        Open  \
 Datetime
 2025-05-07 13:30:00+00:00  164.399994  164.550003  164.009995  164.115005
 2025-05-07 13:31:00+00:00  164.919998  165.000000  164.309998  164.399994
 2025-05-07 13:32:00+00:00  164.600006  164.985001  164.509995  164.919998
 2025-05-07 13:33:00+00:00  164.375000  164.940002  164.369995  164.625000
 2025-05-07 13:34:00+00:00  164.179993  164.375000  163.994995  164.375000
 ...                               ...         ...         ...         ...
 2025-05-14 19:55:00+00:00  165.190002  165.259995  165.139999  165.179993
 2025-05-14 19:56:00+00:00  165.130005  165.179993  165.070007  165.179993
 2025-05-14 19:57:00+00:00  165.279999  165.289993  165.113403  165.139893
 2025-05-14 19:58:00+00:00  165.339996  165.380005  165.270004  165.274994
 2025-05-14 19:59:00+00:00  165.380005  165.479996  165.220001  165.339996

                             Volume
 Datetime
 2025-05-07 13:30:00+00:00  1239276
 2025-05-07 13:31:00+00:00   168408
 2025-05-07 13:32:00+00:00   142443
 2025-05-07 13:33:00+00:00    96611
 2025-05-07 13:34:00+00:00    81048
 ...                            ...
 2025-05-14 19:55:00+00:00   265298
 2025-05-14 19:56:00+00:00   230183
 2025-05-14 19:57:00+00:00   254419
 2025-05-14 19:58:00+00:00   353920
 2025-05-14 19:59:00+00:00   808564

 [2336 rows x 5 columns],
 'AMZN':                                 Close        High         Low        Open  \
 Datetime
 2025-05-07 13:30:00+00:00  185.029999  185.110001  185.029999  185.110001
 2025-05-07 13:31:00+00:00  185.830002  185.880005  185.009995  185.020004
 2025-05-07 13:32:00+00:00  186.205002  186.389999  185.779999  185.850006
 2025-05-07 13:33:00+00:00  186.350006  186.669006  186.160095  186.185898
 2025-05-07 13:34:00+00:00  186.720001  186.750000  186.110001  186.354996
 ...                               ...         ...         ...         ...
 2025-05-14 19:55:00+00:00  210.410004  210.550003  210.115005  210.164993
 2025-05-14 19:56:00+00:00  210.104996  210.440002  210.054993  210.389999
 2025-05-14 19:57:00+00:00  210.360001  210.389999  210.065002  210.110001
 2025-05-14 19:58:00+00:00  210.080002  210.399994  210.070007  210.360001
 2025-05-14 19:59:00+00:00  210.240005  210.279999  209.889999  210.089996

                             Volume
 Datetime
 2025-05-07 13:30:00+00:00  1138484
 2025-05-07 13:31:00+00:00   171380
 2025-05-07 13:32:00+00:00   271862
 2025-05-07 13:33:00+00:00   189130
 2025-05-07 13:34:00+00:00   185560
 ...                            ...
 2025-05-14 19:55:00+00:00   500933
 2025-05-14 19:56:00+00:00   361399
 2025-05-14 19:57:00+00:00   610406
 2025-05-14 19:58:00+00:00   402750
 2025-05-14 19:59:00+00:00  1305927

 [2334 rows x 5 columns],
 'TSLA':                                 Close        High         Low        Open  \
 Datetime
 2025-05-07 13:30:00+00:00  277.040009  277.220001  276.140015  276.815002
 2025-05-07 13:31:00+00:00  277.250092  277.920013  276.660004  276.994995
 2025-05-07 13:32:00+00:00  276.100006  277.775208  275.910004  277.250000
 2025-05-07 13:33:00+00:00  275.991211  277.049988  275.679993  276.012909
 2025-05-07 13:34:00+00:00  275.725006  276.500000  275.290009  275.867004
 ...                               ...         ...         ...         ...
 2025-05-14 19:55:00+00:00  348.269989  348.649994  348.160492  348.339996
 2025-05-14 19:56:00+00:00  347.845001  348.295013  347.670013  348.295013
 2025-05-14 19:57:00+00:00  348.000000  348.339905  347.700012  347.859985
 2025-05-14 19:58:00+00:00  347.730011  348.209991  347.700012  348.005005
 2025-05-14 19:59:00+00:00  347.432709  347.760010  347.346405  347.750000

                             Volume
 Datetime
 2025-05-07 13:30:00+00:00  2963212
 2025-05-07 13:31:00+00:00   554183
 2025-05-07 13:32:00+00:00   463690
 2025-05-07 13:33:00+00:00   401069
 2025-05-07 13:34:00+00:00   400024
 ...                            ...
 2025-05-14 19:55:00+00:00   407839
 2025-05-14 19:56:00+00:00   472096
 2025-05-14 19:57:00+00:00   511141
 2025-05-14 19:58:00+00:00   516618
 2025-05-14 19:59:00+00:00   909216

 [2336 rows x 5 columns]}

### Working with the daily data

In [28]:
# Displaying the first few rows of the data
stock_tickers = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA']

# Define the start and end dates for the data
# Days is set to 59 to get the last 60 days of data (That's the maximum number of days for 5m interval)
start_date = datetime.datetime.today() - datetime.timedelta(days=90)
end_date = datetime.datetime.today()

cl_price = pd.DataFrame()

# Downloading the closing prices for each stock ticker
for ticker in stock_tickers:
    data = yf.download(ticker, start=start_date, end=end_date, interval="1d", multi_level_index=False)
    cl_price[ticker] = data['Close']

# Filling missing values with the previous value
cl_price.bfill(inplace=True)

# # Converting the 'Datetime' column to datetime format
# cl_price['Datetime'] = pd.to_datetime(cl_price['Datetime'])
cl_price

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                  AAPL        MSFT       GOOGL        AMZN        TSLA
Date
2025-02-13  241.213684  409.718475  185.925873  230.369995  355.940002
2025-02-14  244.279663  407.612671  185.016907  228.679993  355.839996
2025-02-18  244.149841  408.820282  183.558594  226.649994  354.109985
2025-02-19  244.549301  413.940002  185.056870  226.630005  360.559998
2025-02-20  245.508057  416.130005  184.347687  222.880005  354.399994
...                ...         ...         ...         ...         ...
2025-05-08  197.231369  438.170013  154.279999  192.080002  284.820007
2025-05-09  198.270004  438.730011  152.750000  193.059998  298.260010
2025-05-12  210.789993  449.260010  158.460007  208.639999  318.380005
2025-05-13  212.929993  449.140015  159.529999  211.369995  334.070007
2025-05-14  212.330002  452.940002  165.369995  210.250000  347.679993

[63 rows x 5 columns]

In [29]:
cl_price.describe()

             AAPL        MSFT       GOOGL        AMZN        TSLA
count   63.000000   63.000000   63.000000   63.000000   63.000000
mean   216.023609  395.727642  163.180902  195.912698  275.754921
std     18.219372   23.122638   10.051694   15.040013   36.793164
min    172.194199  354.559998  144.699997  167.320007  221.860001
25%    202.065025  382.165009  156.674995  186.445000  249.345001
50%    213.210419  390.579987  162.759995  194.539993  272.200012
75%    231.101944  405.806335  167.993080  205.365005  287.675003
max    246.776398  452.940002  185.925873  230.369995  360.559998

In [30]:
cl_price = cl_price[::-1]

In [31]:
cl_price.head()

                  AAPL        MSFT       GOOGL        AMZN        TSLA
Date
2025-05-14  212.330002  452.940002  165.369995  210.250000  347.679993
2025-05-13  212.929993  449.140015  159.529999  211.369995  334.070007
2025-05-12  210.789993  449.260010  158.460007  208.639999  318.380005
2025-05-09  198.270004  438.730011  152.750000  193.059998  298.260010
2025-05-08  197.231369  438.170013  154.279999  192.080002  284.820007

In [ ]:
# Calculating the daily return
# daily_return = cl_price / cl_price.shift(1) - 1
daily_return = cl_price.pct_change()
daily_return = daily_return.dropna()
daily_return.head()

                AAPL      MSFT     GOOGL      AMZN      TSLA
Date
2025-05-13  0.002826 -0.008390 -0.035315  0.005327 -0.039145
2025-05-12 -0.010050  0.000267 -0.006707 -0.012916 -0.046966
2025-05-09 -0.059396 -0.023439 -0.036034 -0.074674 -0.063195
2025-05-08 -0.005238 -0.001276  0.010016 -0.005076 -0.045061
2025-05-07 -0.006279 -0.011000 -0.018797 -0.017545 -0.030195

In [33]:
daily_return.describe()

            AAPL       MSFT      GOOGL       AMZN       TSLA
count  62.000000  62.000000  62.000000  62.000000  62.000000
mean    0.002568  -0.001376   0.002214   0.001923   0.001929
std     0.031972   0.021835   0.025567   0.030047   0.055968
min    -0.132914  -0.092013  -0.088274  -0.106960  -0.184938
25%    -0.011672  -0.011066  -0.016247  -0.013674  -0.036081
50%    -0.002008  -0.000334   0.003328   0.004177   0.000319
75%     0.015229   0.010412   0.017588   0.017852   0.036007
max     0.101875   0.037997   0.078280   0.098649   0.182399