In [1]:
# Importing the required libraries
import yfinance as yf
import datetime
import pandas as pd

In [2]:
import sys
import os

# Add the project root directory to the Python path
sys.path.append(os.path.abspath(".."))

# Import the INTRADAY_DAYS_LIMIT from your config module
from utils.config import INTRADAY_DAYS_LIMIT

In [3]:
# Displaying the first few rows of the data
stock_tickers = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA']

### Code to get the stock data with 5m interval

In [4]:
# Define the start and end dates for the data
# Days is set to 59 to get the last 60 days of data (That's the maximum number of days for 5m interval)
start_date = datetime.datetime.today() - datetime.timedelta(days=INTRADAY_DAYS_LIMIT)
end_date = datetime.datetime.today()

ohlcv_5 = {}
for ticker in stock_tickers:
    data = yf.download(ticker, start=start_date, end=end_date, interval="5m", multi_level_index=False)
    # Filling missing values with the previous value
    data.bfill(inplace=True)
    ohlcv_5[ticker] = data
ohlcv_5

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

{'AAPL':                                 Close        High         Low        Open  \
 Datetime
 2025-03-18 13:30:00+00:00  214.104996  215.050003  213.750000  214.139999
 2025-03-18 13:35:00+00:00  214.274994  214.339996  213.589996  214.110001
 2025-03-18 13:40:00+00:00  213.360001  214.750000  213.360001  214.220001
 2025-03-18 13:45:00+00:00  213.654999  213.773804  212.949997  213.345001
 2025-03-18 13:50:00+00:00  213.799194  213.899994  213.309998  213.649994
 ...                               ...         ...         ...         ...
 2025-05-15 19:35:00+00:00  210.264999  210.529999  210.149994  210.500000
 2025-05-15 19:40:00+00:00  210.460007  210.529907  210.225006  210.259995
 2025-05-15 19:45:00+00:00  210.589996  210.720001  210.375000  210.445007
 2025-05-15 19:50:00+00:00  210.750198  211.330002  210.520004  210.580002
 2025-05-15 19:55:00+00:00  211.457993  211.460007  210.660004  210.740005

                             Volume
 Datetime
 2025-03-18 13:30:00+00:00  2277470
 2025-03-18 13:35:00+00:00   736238
 2025-03-18 13:40:00+00:00   864386
 2025-03-18 13:45:00+00:00   789667
 2025-03-18 13:50:00+00:00   714857
 ...                            ...
 2025-05-15 19:35:00+00:00   370098
 2025-05-15 19:40:00+00:00   341660
 2025-05-15 19:45:00+00:00   405063
 2025-05-15 19:50:00+00:00  1053416
 2025-05-15 19:55:00+00:00  3335261

 [3274 rows x 5 columns],
 'MSFT':                                 Close        High         Low        Open  \
 Datetime
 2025-03-18 13:30:00+00:00  386.220001  387.369995  385.329987  386.107391
 2025-03-18 13:35:00+00:00  385.429993  386.019989  385.109985  386.000000
 2025-03-18 13:40:00+00:00  383.019989  385.434998  382.954987  385.434998
 2025-03-18 13:45:00+00:00  383.660004  383.769989  382.500000  382.920013
 2025-03-18 13:50:00+00:00  383.950012  384.029999  382.880005  383.579987
 ...                               ...         ...         ...         ...
 2025-05-15 19:35:00+00:00  451.859985  452.239990  451.625000  452.140015
 2025-05-15 19:40:00+00:00  451.989990  452.329987  451.799988  451.799988
 2025-05-15 19:45:00+00:00  452.079987  452.269989  451.670013  452.049988
 2025-05-15 19:50:00+00:00  452.440002  453.670013  452.109985  452.140015
 2025-05-15 19:55:00+00:00  453.049988  453.140015  452.179993  452.450012

                             Volume
 Datetime
 2025-03-18 13:30:00+00:00   696462
 2025-03-18 13:35:00+00:00   280119
 2025-03-18 13:40:00+00:00   338583
 2025-03-18 13:45:00+00:00   302897
 2025-03-18 13:50:00+00:00   223882
 ...                            ...
 2025-05-15 19:35:00+00:00   134172
 2025-05-15 19:40:00+00:00   155391
 2025-05-15 19:45:00+00:00   184413
 2025-05-15 19:50:00+00:00   603088
 2025-05-15 19:55:00+00:00  1719039

 [3275 rows x 5 columns],
 'GOOGL':                                 Close        High         Low        Open  \
 Datetime
 2025-03-18 13:30:00+00:00  163.540497  164.240005  163.020004  163.675003
 2025-03-18 13:35:00+00:00  162.759995  163.580002  162.700104  163.559998
 2025-03-18 13:40:00+00:00  161.330002  162.770004  161.320007  162.759995
 2025-03-18 13:45:00+00:00  161.009995  161.529907  161.009995  161.324997
 2025-03-18 13:50:00+00:00  159.783401  161.175003  159.619995  161.009995
 ...                               ...         ...         ...         ...
 2025-05-15 19:35:00+00:00  162.979996  163.250000  162.960007  163.115005
 2025-05-15 19:40:00+00:00  163.279999  163.318405  162.979996  162.979996
 2025-05-15 19:45:00+00:00  163.320007  163.389999  163.070007  163.289993
 2025-05-15 19:50:00+00:00  163.440002  163.759995  163.320007  163.330002
 2025-05-15 19:55:00+00:00  163.940002  163.985001  163.339996  163.449997

                             Volume
 Datetime
 2025-03-18 13:30:00+00:00  1671658
 2025-03-18 13:35:00+00:00   840081
 2025-03-18 13:40:00+00:00   880042
 2025-03-18 13:45:00+00:00   715824
 2025-03-18 13:50:00+00:00  1516343
 ...                            ...
 2025-05-15 19:35:00+00:00   323882
 2025-05-15 19:40:00+00:00   355596
 2025-05-15 19:45:00+00:00   453497
 2025-05-15 19:50:00+00:00   760582
 2025-05-15 19:55:00+00:00  2193896

 [3275 rows x 5 columns],
 'AMZN':                                 Close        High         Low        Open  \
 Datetime
 2025-03-18 13:30:00+00:00  191.919998  192.520004  191.009995  192.520004
 2025-03-18 13:35:00+00:00  191.619995  192.011993  191.080002  191.924393
 2025-03-18 13:40:00+00:00  189.630005  191.720001  189.500000  191.589996
 2025-03-18 13:45:00+00:00  190.975006  191.227402  189.399994  189.630005
 2025-03-18 13:50:00+00:00  190.970001  191.360001  190.720001  190.949997
 ...                               ...         ...         ...         ...
 2025-05-15 19:35:00+00:00  204.509995  204.750000  204.440002  204.595001
 2025-05-15 19:40:00+00:00  204.720001  204.770004  204.479996  204.509995
 2025-05-15 19:45:00+00:00  204.679993  204.750000  204.369995  204.699997
 2025-05-15 19:50:00+00:00  204.662506  205.399994  204.550003  204.690002
 2025-05-15 19:55:00+00:00  205.139999  205.220001  204.610001  204.679993

                             Volume
 Datetime
 2025-03-18 13:30:00+00:00  4177733
 2025-03-18 13:35:00+00:00   945542
 2025-03-18 13:40:00+00:00  1986790
 2025-03-18 13:45:00+00:00  1003607
 2025-03-18 13:50:00+00:00   703751
 ...                            ...
 2025-05-15 19:35:00+00:00   333087
 2025-05-15 19:40:00+00:00   667511
 2025-05-15 19:45:00+00:00   418295
 2025-05-15 19:50:00+00:00  1068027
 2025-05-15 19:55:00+00:00  2696800

 [3274 rows x 5 columns],
 'TSLA':                                 Close        High         Low        Open  \
 Datetime
 2025-03-18 13:30:00+00:00  227.664993  230.100006  227.080002  229.184998
 2025-03-18 13:35:00+00:00  223.750000  227.739899  223.750000  227.713593
 2025-03-18 13:40:00+00:00  223.617798  225.479996  223.179993  223.774994
 2025-03-18 13:45:00+00:00  225.070007  226.100006  223.190094  223.606201
 2025-03-18 13:50:00+00:00  224.329895  225.589996  223.449997  225.095001
 ...                               ...         ...         ...         ...
 2025-05-15 19:35:00+00:00  341.589996  341.820007  341.250000  341.390015
 2025-05-15 19:40:00+00:00  343.100006  343.290009  341.500000  341.559998
 2025-05-15 19:45:00+00:00  342.950012  343.299194  342.393707  343.059998
 2025-05-15 19:50:00+00:00  341.909912  344.160004  341.760010  343.140015
 2025-05-15 19:55:00+00:00  342.728394  342.989990  341.190002  341.864990

                              Volume
 Datetime
 2025-03-18 13:30:00+00:00  10371826
 2025-03-18 13:35:00+00:00   5312787
 2025-03-18 13:40:00+00:00   3640312
 2025-03-18 13:45:00+00:00   2408984
 2025-03-18 13:50:00+00:00   2047093
 ...                             ...
 2025-05-15 19:35:00+00:00    803012
 2025-05-15 19:40:00+00:00   1432915
 2025-05-15 19:45:00+00:00   1005752
 2025-05-15 19:50:00+00:00   1554624
 2025-05-15 19:55:00+00:00   1858743

 [3276 rows x 5 columns]}

### Code to get the stock data with 1m interval

In [5]:
# Define the start and end dates for the data
# Days is set to 8 to get the last 9 days of data (That's the maximum number of days for 1m interval)
start_date = datetime.datetime.today() - datetime.timedelta(days=8)
end_date = datetime.datetime.today()

ohlcv_1 = {}
for ticker in stock_tickers:
    data = yf.download(ticker, start=start_date, end=end_date, interval="1m", multi_level_index=False)
    # Filling missing values with the previous value
    data.bfill(inplace=True)
    ohlcv_1[ticker] = data
ohlcv_1

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

{'AAPL':                                 Close        High         Low        Open  \
 Datetime
 2025-05-08 13:30:00+00:00  197.990005  198.059998  197.660004  197.740005
 2025-05-08 13:31:00+00:00  197.649994  198.130005  197.550003  198.009995
 2025-05-08 13:32:00+00:00  197.660004  197.679993  197.259995  197.639999
 2025-05-08 13:33:00+00:00  197.080002  197.639999  197.070099  197.639999
 2025-05-08 13:34:00+00:00  197.050003  197.360001  196.929993  197.050003
 ...                               ...         ...         ...         ...
 2025-05-15 19:55:00+00:00  210.839996  211.070007  210.660004  210.740005
 2025-05-15 19:56:00+00:00  211.050003  211.070007  210.850006  210.850006
 2025-05-15 19:57:00+00:00  211.235001  211.279999  210.949997  211.039993
 2025-05-15 19:58:00+00:00  211.104996  211.240005  211.039993  211.235001
 2025-05-15 19:59:00+00:00  211.457993  211.460007  210.949997  211.104996

                             Volume
 Datetime
 2025-05-08 13:30:00+00:00  1897010
 2025-05-08 13:31:00+00:00   191258
 2025-05-08 13:32:00+00:00   241724
 2025-05-08 13:33:00+00:00   130419
 2025-05-08 13:34:00+00:00   242091
 ...                            ...
 2025-05-15 19:55:00+00:00   372711
 2025-05-15 19:56:00+00:00   218905
 2025-05-15 19:57:00+00:00   557596
 2025-05-15 19:58:00+00:00   410594
 2025-05-15 19:59:00+00:00  1775455

 [2331 rows x 5 columns],
 'MSFT':                                 Close        High         Low        Open  \
 Datetime
 2025-05-08 13:30:00+00:00  439.989990  440.819885  437.619995  437.929993
 2025-05-08 13:31:00+00:00  440.279510  441.000000  439.765015  439.983490
 2025-05-08 13:32:00+00:00  440.750000  440.750000  439.299988  440.350006
 2025-05-08 13:33:00+00:00  440.290009  441.100006  439.883789  440.739990
 2025-05-08 13:34:00+00:00  439.269989  440.399994  439.000000  440.260010
 ...                               ...         ...         ...         ...
 2025-05-15 19:55:00+00:00  452.570007  453.140015  452.359985  452.450012
 2025-05-15 19:56:00+00:00  452.730011  452.839996  452.309998  452.619995
 2025-05-15 19:57:00+00:00  452.529999  452.820007  452.440002  452.750000
 2025-05-15 19:58:00+00:00  452.429993  452.609985  452.329987  452.489990
 2025-05-15 19:59:00+00:00  453.049988  453.130005  452.179993  452.450012

                             Volume
 Datetime
 2025-05-08 13:30:00+00:00  3339555
 2025-05-08 13:31:00+00:00   185295
 2025-05-08 13:32:00+00:00   168713
 2025-05-08 13:33:00+00:00   165438
 2025-05-08 13:34:00+00:00    97267
 ...                            ...
 2025-05-15 19:55:00+00:00   213416
 2025-05-15 19:56:00+00:00   127516
 2025-05-15 19:57:00+00:00   269074
 2025-05-15 19:58:00+00:00   276861
 2025-05-15 19:59:00+00:00   832172

 [2333 rows x 5 columns],
 'GOOGL':                                 Close        High         Low        Open  \
 Datetime
 2025-05-08 13:30:00+00:00  153.910004  154.820007  153.520004  154.735001
 2025-05-08 13:31:00+00:00  153.679993  154.050003  153.350006  153.929993
 2025-05-08 13:32:00+00:00  153.309296  153.940002  153.199997  153.679993
 2025-05-08 13:33:00+00:00  153.250000  153.708405  153.100006  153.274994
 2025-05-08 13:34:00+00:00  153.300003  153.559998  152.970001  153.279999
 ...                               ...         ...         ...         ...
 2025-05-15 19:55:00+00:00  163.544998  163.645004  163.339996  163.449997
 2025-05-15 19:56:00+00:00  163.729996  163.759995  163.520203  163.550003
 2025-05-15 19:57:00+00:00  163.865005  163.880005  163.679993  163.729996
 2025-05-15 19:58:00+00:00  163.845001  163.929993  163.800003  163.869995
 2025-05-15 19:59:00+00:00  163.940002  163.985001  163.725006  163.850006

                             Volume
 Datetime
 2025-05-08 13:30:00+00:00  5919559
 2025-05-08 13:31:00+00:00   643823
 2025-05-08 13:32:00+00:00   585931
 2025-05-08 13:33:00+00:00   532990
 2025-05-08 13:34:00+00:00   494603
 ...                            ...
 2025-05-15 19:55:00+00:00   342013
 2025-05-15 19:56:00+00:00   210124
 2025-05-15 19:57:00+00:00   359651
 2025-05-15 19:58:00+00:00   344515
 2025-05-15 19:59:00+00:00   937593

 [2336 rows x 5 columns],
 'AMZN':                                 Close        High         Low        Open  \
 Datetime
 2025-05-08 13:30:00+00:00  191.279999  191.750000  190.954605  191.475006
 2025-05-08 13:31:00+00:00  191.229996  191.639999  190.940002  191.279999
 2025-05-08 13:32:00+00:00  190.839996  191.315002  190.749695  191.315002
 2025-05-08 13:33:00+00:00  190.919998  190.979996  190.770004  190.830002
 2025-05-08 13:34:00+00:00  190.934998  191.119995  190.919998  190.949997
 ...                               ...         ...         ...         ...
 2025-05-15 19:55:00+00:00  204.785004  205.029999  204.610001  204.679993
 2025-05-15 19:56:00+00:00  204.955002  205.000000  204.759995  204.804993
 2025-05-15 19:57:00+00:00  205.020004  205.070007  204.770004  204.960007
 2025-05-15 19:58:00+00:00  204.884995  205.074997  204.839996  205.024994
 2025-05-15 19:59:00+00:00  205.139999  205.220001  204.699997  204.884995

                             Volume
 Datetime
 2025-05-08 13:30:00+00:00  1586452
 2025-05-08 13:31:00+00:00   198942
 2025-05-08 13:32:00+00:00   158423
 2025-05-08 13:33:00+00:00    99043
 2025-05-08 13:34:00+00:00   182836
 ...                            ...
 2025-05-15 19:55:00+00:00   369424
 2025-05-15 19:56:00+00:00   296935
 2025-05-15 19:57:00+00:00   475367
 2025-05-15 19:58:00+00:00   371555
 2025-05-15 19:59:00+00:00  1183519

 [2334 rows x 5 columns],
 'TSLA':                                 Close        High         Low        Open  \
 Datetime
 2025-05-08 13:30:00+00:00  281.869995  282.179993  279.410004  279.630005
 2025-05-08 13:31:00+00:00  283.060089  284.054993  281.612610  281.939392
 2025-05-08 13:32:00+00:00  283.029999  283.689911  282.500000  283.105011
 2025-05-08 13:33:00+00:00  284.390015  284.529999  282.880005  283.010010
 2025-05-08 13:34:00+00:00  284.571198  285.559998  284.279999  284.339996
 ...                               ...         ...         ...         ...
 2025-05-15 19:55:00+00:00  341.860992  342.260010  341.190002  341.864990
 2025-05-15 19:56:00+00:00  342.859985  342.923004  341.809998  341.809998
 2025-05-15 19:57:00+00:00  342.739990  342.950012  342.620605  342.890015
 2025-05-15 19:58:00+00:00  342.630005  342.910004  342.490112  342.769989
 2025-05-15 19:59:00+00:00  342.728394  342.989990  341.875000  342.630005

                             Volume
 Datetime
 2025-05-08 13:30:00+00:00  3440211
 2025-05-08 13:31:00+00:00   980809
 2025-05-08 13:32:00+00:00   606607
 2025-05-08 13:33:00+00:00   768278
 2025-05-08 13:34:00+00:00   915990
 ...                            ...
 2025-05-15 19:55:00+00:00   364817
 2025-05-15 19:56:00+00:00   269454
 2025-05-15 19:57:00+00:00   221623
 2025-05-15 19:58:00+00:00   242334
 2025-05-15 19:59:00+00:00   760515

 [2336 rows x 5 columns]}

### Working with the daily data

In [6]:
# Displaying the first few rows of the data
stock_tickers = ['AAPL', 'MSFT', 'GOOGL', 'AMZN', 'TSLA']

# Define the start and end dates for the data
# Days is set to 59 to get the last 60 days of data (That's the maximum number of days for 5m interval)
start_date = datetime.datetime.today() - datetime.timedelta(days=365)
end_date = datetime.datetime.today()

cl_price = pd.DataFrame()

# Downloading the closing prices for each stock ticker
for ticker in stock_tickers:
    data = yf.download(ticker, start=start_date, end=end_date, interval="1d", multi_level_index=False)
    cl_price[ticker] = data['Close']

# Filling missing values with the previous value
cl_price.bfill(inplace=True)

# # Converting the 'Datetime' column to datetime format
# cl_price['Datetime'] = pd.to_datetime(cl_price['Datetime'])
cl_price

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

                  AAPL        MSFT       GOOGL        AMZN        TSLA
Date
2024-05-15  188.836868  420.631744  171.689163  185.990005  173.990005
2024-05-16  188.956299  418.553833  173.351212  183.630005  174.839996
2024-05-17  188.986176  417.778320  175.222275  184.699997  177.460007
2024-05-20  190.150726  422.878662  176.078186  183.539993  174.949997
2024-05-21  191.454636  426.557251  177.003754  183.149994  186.600006
...                ...         ...         ...         ...         ...
2025-05-09  198.270004  438.730011  152.750000  193.059998  298.260010
2025-05-12  210.789993  449.260010  158.460007  208.639999  318.380005
2025-05-13  212.929993  449.140015  159.529999  211.369995  334.070007
2025-05-14  212.330002  452.940002  165.369995  210.250000  347.679993
2025-05-15  211.449997  453.130005  163.960007  205.169998  342.820007

[251 rows x 5 columns]

In [7]:
cl_price.describe()

             AAPL        MSFT       GOOGL        AMZN        TSLA
count  251.000000  251.000000  251.000000  251.000000  251.000000
mean   222.304134  418.200909  172.135186  197.125976  276.896654
std     16.369076   21.562713   13.207452   19.167584   76.951778
min    172.194199  354.559998  144.699997  161.020004  170.660004
25%    213.072014  408.057007  162.581207  183.645004  220.285004
50%    223.962601  418.553833  170.559998  192.080002  252.399994
75%    232.448898  432.544128  181.347366  210.150002  338.014999
max    258.396667  464.854340  206.142593  242.059998  479.859985

In [8]:
cl_price.head()

                  AAPL        MSFT       GOOGL        AMZN        TSLA
Date
2024-05-15  188.836868  420.631744  171.689163  185.990005  173.990005
2024-05-16  188.956299  418.553833  173.351212  183.630005  174.839996
2024-05-17  188.986176  417.778320  175.222275  184.699997  177.460007
2024-05-20  190.150726  422.878662  176.078186  183.539993  174.949997
2024-05-21  191.454636  426.557251  177.003754  183.149994  186.600006

In [9]:
# Calculating the daily return
# daily_return = cl_price / cl_price.shift(1) - 1
daily_return = cl_price.pct_change()
daily_return = daily_return.dropna()
daily_return.head()

                AAPL      MSFT     GOOGL      AMZN      TSLA
Date
2024-05-16  0.000632 -0.004940  0.009681 -0.012689  0.004885
2024-05-17  0.000158 -0.001853  0.010793  0.005827  0.014985
2024-05-20  0.006162  0.012208  0.004885 -0.006280 -0.014144
2024-05-21  0.006857  0.008699  0.005257 -0.002125  0.066591
2024-05-22 -0.007538  0.003450 -0.008265 -0.000109 -0.034780

In [10]:
daily_return.describe()

             AAPL        MSFT       GOOGL          AMZN        TSLA
count  250.000000  250.000000  250.000000  2.500000e+02  250.000000
mean     0.000664    0.000428    0.000009  6.291088e-04    0.003736
std      0.020748    0.016205    0.019692  2.181573e-02    0.045720
min     -0.092456   -0.061809   -0.072924 -8.979129e-02   -0.154262
25%     -0.007047   -0.006897   -0.010934 -1.070934e-02   -0.023041
50%      0.002028    0.001007    0.001812  9.356982e-07    0.001390
75%      0.010270    0.008447    0.011032  1.305258e-02    0.031015
max      0.153288    0.101337    0.096821  1.197703e-01    0.226900

In [11]:
daily_return.rolling(window=10).mean()

                AAPL      MSFT     GOOGL      AMZN      TSLA
Date
2024-05-16       NaN       NaN       NaN       NaN       NaN
2024-05-17       NaN       NaN       NaN       NaN       NaN
2024-05-20       NaN       NaN       NaN       NaN       NaN
2024-05-21       NaN       NaN       NaN       NaN       NaN
2024-05-22       NaN       NaN       NaN       NaN       NaN
...              ...       ...       ...       ...       ...
2025-05-09 -0.005136  0.011616 -0.005519  0.002252  0.004878
2025-05-12  0.000767  0.014192 -0.000947  0.011005  0.011297
2025-05-13  0.001273  0.013429  0.000008  0.012478  0.014074
2025-05-14  0.000381  0.013965  0.004518  0.013533  0.021528
2025-05-15 -0.000419  0.006382  0.002091  0.007983  0.020711

[250 rows x 5 columns]

In [12]:
daily_return.rolling(window=10).std()

                AAPL      MSFT     GOOGL      AMZN      TSLA
Date
2024-05-16       NaN       NaN       NaN       NaN       NaN
2024-05-17       NaN       NaN       NaN       NaN       NaN
2024-05-20       NaN       NaN       NaN       NaN       NaN
2024-05-21       NaN       NaN       NaN       NaN       NaN
2024-05-22       NaN       NaN       NaN       NaN       NaN
...              ...       ...       ...       ...       ...
2025-05-09  0.016390  0.024139  0.026144  0.016313  0.025989
2025-05-12  0.027175  0.023926  0.029392  0.029251  0.032627
2025-05-13  0.027311  0.024287  0.029480  0.028912  0.034708
2025-05-14  0.027281  0.024092  0.031421  0.027940  0.031101
2025-05-15  0.027285  0.010288  0.031395  0.029480  0.031993

[250 rows x 5 columns]

In [13]:
daily_return.rolling(window=10).max()

                AAPL      MSFT     GOOGL      AMZN      TSLA
Date
2024-05-16       NaN       NaN       NaN       NaN       NaN
2024-05-17       NaN       NaN       NaN       NaN       NaN
2024-05-20       NaN       NaN       NaN       NaN       NaN
2024-05-21       NaN       NaN       NaN       NaN       NaN
2024-05-22       NaN       NaN       NaN       NaN       NaN
...              ...       ...       ...       ...       ...
2025-05-09  0.006319  0.076254  0.019157  0.031341  0.047188
2025-05-12  0.063146  0.076254  0.037381  0.080700  0.067458
2025-05-13  0.063146  0.076254  0.037381  0.080700  0.067458
2025-05-14  0.063146  0.076254  0.037381  0.080700  0.067458
2025-05-15  0.063146  0.024001  0.037381  0.080700  0.067458

[250 rows x 5 columns]

In [14]:
daily_return.rolling(window=10).sum()

                AAPL      MSFT     GOOGL      AMZN      TSLA
Date
2024-05-16       NaN       NaN       NaN       NaN       NaN
2024-05-17       NaN       NaN       NaN       NaN       NaN
2024-05-20       NaN       NaN       NaN       NaN       NaN
2024-05-21       NaN       NaN       NaN       NaN       NaN
2024-05-22       NaN       NaN       NaN       NaN       NaN
...              ...       ...       ...       ...       ...
2025-05-09 -0.051363  0.116157 -0.055188  0.022519  0.048779
2025-05-12  0.007673  0.141919 -0.009471  0.110045  0.112973
2025-05-13  0.012734  0.134290  0.000083  0.124782  0.140741
2025-05-14  0.003808  0.139654  0.045182  0.135332  0.215279
2025-05-15 -0.004195  0.063820  0.020913  0.079829  0.207113

[250 rows x 5 columns]

In [15]:
# Rolling operations (exponentialy weighted)
daily_return.ewm(com=10, min_periods=10).mean()

                AAPL      MSFT     GOOGL      AMZN      TSLA
Date
2024-05-16       NaN       NaN       NaN       NaN       NaN
2024-05-17       NaN       NaN       NaN       NaN       NaN
2024-05-20       NaN       NaN       NaN       NaN       NaN
2024-05-21       NaN       NaN       NaN       NaN       NaN
2024-05-22       NaN       NaN       NaN       NaN       NaN
...              ...       ...       ...       ...       ...
2025-05-09 -0.001878  0.007766 -0.002692  0.003646  0.010099
2025-05-12  0.004033  0.009242  0.000951  0.010651  0.015313
2025-05-13  0.004589  0.008378  0.001478  0.010872  0.018401
2025-05-14  0.003916  0.008385  0.004672  0.009402  0.020432
2025-05-15  0.003183  0.007661  0.003472  0.006351  0.017304

[250 rows x 5 columns]

In [16]:
daily_return.ewm(com=10, min_periods=10).std()

                AAPL      MSFT     GOOGL      AMZN      TSLA
Date
2024-05-16       NaN       NaN       NaN       NaN       NaN
2024-05-17       NaN       NaN       NaN       NaN       NaN
2024-05-20       NaN       NaN       NaN       NaN       NaN
2024-05-21       NaN       NaN       NaN       NaN       NaN
2024-05-22       NaN       NaN       NaN       NaN       NaN
...              ...       ...       ...       ...       ...
2025-05-09  0.028788  0.024435  0.028544  0.026345  0.046648
2025-05-12  0.033471  0.023784  0.029666  0.033855  0.047579
2025-05-13  0.031964  0.022849  0.028337  0.032288  0.046455
2025-05-14  0.030555  0.021786  0.028932  0.031152  0.044779
2025-05-15  0.029229  0.020904  0.027858  0.031304  0.043882

[250 rows x 5 columns]