In [1]:
# importing libraries
from alpha_vantage.timeseries import TimeSeries
import pandas as pd
import time

In [2]:
import sys
import os

# Add the project root directory to the Python path
sys.path.append(os.path.abspath(".."))

In [3]:
# Import the API_KEY from your config module
from utils.config import API_KEY

In [4]:
# extracting data for a single ticker
ts = TimeSeries(key=API_KEY, output_format='pandas')
data = ts.get_daily(symbol='EURUSD', outputsize='full')[0]
data.columns = ["open","high","low","close","volume"]
data = data.iloc[::-1]

In [5]:
data

              open    high     low   close  volume
date
2006-03-15  1.2011  1.2074  1.2003  1.2068     0.0
2006-03-16  1.2068  1.2189  1.2032  1.2179     0.0
2006-03-17  1.2182  1.2207  1.2139  1.2195     0.0
2006-03-20  1.2168  1.2196  1.2147  1.2165     0.0
2006-03-21  1.2154  1.2171  1.2074  1.2092     0.0
...            ...     ...     ...     ...     ...
2025-05-08  1.1312  1.1336  1.1212  1.1226     0.0
2025-05-09  1.1227  1.1293  1.1196  1.1246     0.0
2025-05-12  1.1214  1.1243  1.1065  1.1088     0.0
2025-05-13  1.1088  1.1195  1.1087  1.1186     0.0
2025-05-14  1.1185  1.1266  1.1164  1.1173     0.0

[5000 rows x 5 columns]

In [6]:
# extracting stock data (historical close price) for multiple stocks
all_tickers = ["AAPL","MSFT","CSCO","AMZN","GOOG","TSLA","META","NFLX","NVDA","AMD","INTC","IBM","ORCL","QCOM","CRM","ADBE","CSX","TXN","AVGO","AMAT","INTU"]
close_prices = pd.DataFrame()
api_call_count = 1
ts = TimeSeries(key=API_KEY, output_format='pandas')
start_time = time.time()
for ticker in all_tickers:
    print(f"Fetching data for {ticker}...")
    # Fetch intraday data for the ticker
    data = ts.get_intraday(symbol=ticker,interval='1min', outputsize='compact')[0]
    # Check if the API call limit has been reached
    api_call_count+=1
    data.columns = ["open","high","low","close","volume"]
    # Reverse the order of the data to have it in chronological order
    data = data.iloc[::-1]
    # Add the close prices to the DataFrame
    close_prices[ticker] = data["close"]
    # Check if the API call limit has been reached
    if api_call_count==5:
        print("API call limit reached, sleeping for 60 seconds...")
        # Sleep for 60 seconds to avoid hitting the API call limit
        api_call_count = 1
        time.sleep(60 - ((time.time() - start_time) % 60.0))

close_prices

Fetching data for AAPL...
Fetching data for MSFT...
Fetching data for CSCO...
Fetching data for AMZN...
API call limit reached, sleeping for 60 seconds...
Fetching data for GOOG...
Fetching data for TSLA...
Fetching data for META...
Fetching data for NFLX...
API call limit reached, sleeping for 60 seconds...
Fetching data for NVDA...
Fetching data for AMD...
Fetching data for INTC...
Fetching data for IBM...
API call limit reached, sleeping for 60 seconds...
Fetching data for ORCL...
Fetching data for QCOM...
Fetching data for CRM...
Fetching data for ADBE...
API call limit reached, sleeping for 60 seconds...
Fetching data for CSX...

ValueError: We have detected your API key as AHHP0FVZXZOQUPI7 and our standard API rate limit is 25 requests per day. Please subscribe to any of the premium plans at https://www.alphavantage.co/premium/ to instantly remove all daily rate limits.

In [7]:
close_prices

,AAPL,MSFT,CSCO,AMZN,GOOG,TSLA,META,NFLX,NVDA,AMD,INTC,IBM,ORCL,QCOM,CRM,ADBE
date,,,,,,,,,,,,,,,,
2025-05-13 18:20:00,211.8000,448.665,NaN,210.240,161.0100,333.7300,655.3500,1136.760,130.4408,112.45,22.5200,NaN,163.00,NaN,291.50,397.60
2025-05-13 18:21:00,211.7900,448.430,61.766,210.245,161.0300,333.7200,655.4700,1136.690,130.4800,112.65,22.5200,258.4999,162.43,151.36,NaN,NaN
2025-05-13 18:22:00,211.8000,448.620,61.850,210.250,161.0500,333.7300,655.3500,1136.685,130.4800,112.50,22.5100,NaN,162.43,151.32,NaN,NaN
2025-05-13 18:23:00,211.8000,448.620,NaN,210.250,161.0500,333.6587,655.3499,1136.685,130.4750,112.50,22.5300,NaN,162.47,NaN,289.40,NaN
2025-05-13 18:24:00,211.7999,448.620,62.000,210.240,161.1100,333.5500,655.1970,1136.685,130.4800,112.50,22.5300,NaN,162.40,151.30,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-05-13 19:55:00,212.1789,448.590,NaN,211.140,161.1500,336.1500,657.0130,1137.160,131.3400,113.22,22.5500,NaN,162.75,151.59,NaN,398.20
2025-05-13 19:56:00,212.1482,448.590,61.900,211.200,161.0800,336.1900,657.5000,1137.120,131.3100,113.29,22.5499,258.5900,162.61,151.34,NaN,NaN
2025-05-13 19:57:00,212.1500,448.425,61.910,211.050,161.1300,336.0607,657.5000,1136.300,131.2608,113.31,22.5403,NaN,162.63,151.50,290.00,397.41
2025-05-13 19:58:00,212.1000,448.475,NaN,211.100,161.1300,336.1700,657.2750,1136.140,131.2500,113.39,22.5500,258.5900,NaN,151.50,290.30,397.71
2025-05-13 19:59:00,212.1900,448.500,61.910,211.100,161.1496,336.4900,657.3100,1136.150,131.2800,113.44,22.5500,NaN,162.80,151.50,289.37,397.67